<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<div>
  There are
  <%= @products%>
  products in total
</div>
<div>
  There are
  <%= @categories%>
  products in total
</div>
